
<section id="about">


  <div class="backColor"></div>

  <div class="myself-Cont">

    
    <div class="myself-img">
        <img src="components/images/Baruj.jpg" alt="Baruj"  >
        <p class="myself-name">Fernando Haro</p>
      
    </div>


    <div class="myself-info">
      <div class="myself-text">
        <h1>About me</h1>
        <div class="dynamicText">
          <p>
            I'm Fernando Haro, a Computer Science student at the University of Guadalajara (CUCEI) with a strong foundation in software development, data analysis and web development.
          </p>
          <p>
            I'm focused on learning, code quality and problem-solving. Currently, I’m open to job opportunities where I can contribute my skills, grow as a developer, and help build innovative solutions through technology.
          </p>
        </div>

      </div>
      <div class="myself-links">
        <a href="https://github.com/BarujHaro" >
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" class="icons"/>
        </a>
        <a href="https://www.linkedin.com/in/fernando-baruj-haro-salazar-7b2014323/" >
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg"  class="icons"/>
        </a>
        <a href="https://x.com/FernandoHaroSal" >
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"  class="icons"/>
        </a>
        
        
        
          
      </div>
    </div>


  </div>



</section>