<section id="contact">

  <div class="contact-cont">
    <div class="contact-info">
    <h1>Contact me</h1>
        <p>I’m passionate about creating efficient, scalable, and well-designed solutions.</p>
        <p>I’d love to collaborate, share ideas, or contribute to your next project.</p>
        <p><span>Email:</span> fernando.haro.sal@gmail.com</p>

      <div class="contact-links">
          <a href="https://github.com/BarujHaro" >
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" class="icons"/>
          </a>
          <a href="https://www.linkedin.com/in/fernando-baruj-haro-salazar-7b2014323/" >
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg"  class="icons"/>
          </a>
          <a href="https://x.com/FernandoHaroSal" >
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg"  class="icons"/>
          </a>
          
      </div>
    </div>


      <div class="contact-img">
        <img src="components/images/Baruj.jpg" alt="Baruj"  >
      </div>


  </div>


</section>