name: CI and deploy                 

on:                        
  push:                     
    branches: [main]       
  pull_request:             
    branches: [main]       
    
  workflow_dispatch:


permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false


jobs:                       
  build:              
    runs-on: ubuntu-latest 
    

    steps:                  
    - name: Checkout repo          
      uses: actions/checkout@v4        

    - name: Run linter             
      run: npx eslint . || echo "No ESLint configured" 


    - name: Setup Pages
      uses: actions/configure-pages@v4

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: src

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
